@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to the Home Page</h2>

<p>To register, click <a href="@Url.Action("Register", "User")">here</a>.</p>
<p>To Login, click <a href="@Url.Action("Login", "User")">here</a>.</p>
